<!DOCTYPE html>
<html lang="en">
 {{>headerlinks}}
<body>
 <!--navbar-->
 {{>navbar}}

 <!-- main -->
    <div class="container main_header">
        <div class="row ">
            <div class="col-md-10 col-12">
               
                <div class="row">
                <!--left side  div -->
                    <div class="col-md-10 col-12 main_header_left mx-auto">
                        <figure>
                            <img src="./images/errorbg.jpg" alt="" class="img-fluid w-100">
                        </figure>
                    
                        <p class="text-capitalize font-100"> oops! page not found</p>
                        <h2 class="text-capitalize font-400"> the page you are looking for is<span class="text-primary"> not available </span>   </h2>
                        <a href="/"><button class="text-uppercase  font-900 my-2">Go Back</button></a>  
                    </div>
                
                    
                </div>
            </div>
        </div>
    </div>

 <!--footer-->
 {{>footer}}   
</body>
</html>